body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{  
    width: 100%;
    height:  100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);


}
.calculetor{
    border: 1px solid #717377;
    border-radius: 15px;
    padding: 20px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119,0.5);

    
}
input{
   max-width: 330px;
   border: none;
   padding: 20px;
   margin: 30px auto;
   background: transparent;
   box-shadow: 0px 3px 20px rgba(113, 115, 119,0.5);
   font-size: 40px;
   text-align: right;
   color: white;
   cursor: pointer;

} 
button{
    width: 80px;
    height: 80px;
    padding: 20px;
    margin: 5px;
    font-size: 25px;
    text-align: center;
    border: none;
    border-radius: 50%;
    background: transparent;
    box-shadow: -5px -5px 10px rgba(180, 173, 173, 0.5);
    color: white;
    cursor: pointer;

}
.oprat_btn{
    color: rgb(255, 255, 255);
    background-color: rgba(165, 165, 5, 0.733);
}
:-ms-input-placeholder{
    color: white;
    cursor: pointer;
}
.man_contaner{
    
}